<!DOCTYPE  html>
<html lang ="en">   
<head>
	<meta charset="UTF-8">  
    <title>计算属性与监听器</title>
	<script src="./vue.js"></script> 

</head>
<body>
    <div id="root">
        姓：<input v-model="firstName"/>
        名：<input v-model="lastName"/>
        <div>{{fullName}}</div>
        <div>{{count}}</div>
    </div>  

    
	<script>
          new Vue({
			  el: "#root",
              data: {
                  firstName: '',
                  lastName: '',
                  count:0
              },
              computed:{
                  //一个变量是又其他变量计算而成  
                  //好处是：性能高 ，要是依赖变量都没改变，会用缓存结果
                  
                  fullName:function(){
                      return  this.firstName+" "+this.lastName
                  }
              }
,
              watch:{
                  //监听器 
                  fullName: function(){
                      this.count ++
                  }
                  //只要...改变则执行函数
              }
          
		  
          })
    </script>
</body>
</html>	
