<!DOCTYPE  html>
<html lang ="en">   
<head>
	<meta charset="UTF-8">  
    <title>todolist</title>
	<script src="./vue.js"></script> 

</head>
<body>
    <!-- -->
    <div id="root">
        <input v-model="inputValue" />
        <button @click="handleSubmit">提交</button>
        <ul>
            <!-- 父组件向子组件的传值是通过属性实现的-->
            <!-- 子组件向父组件的传值是通过  子组件发布事件，父组件订阅 监听并执行相应函数来实现的-->
            <todo-item v-for="(item,index) of list" 
                :key="index" 
                :content="item"
                :index="index"
                @delete="handleDelete"
                ></todo-item>
            <!-- @==v-on 监听-->
            <!-- 使父监听delete事件，若监听到了该事件，则触发handleDelete函数 -->
        </ul>
    </div> 
	<script>

//通过Vue.component定义的组件，叫做全局组件
//Vue.component('todo-item',{
    //组建可以有自己的模版  
 //   template: '<li>item</li>'
//
//})

//局部组件

//

//每一个Vue的组件又是一个Vue的实例,也可写methods等等..... 
var TodoItem  =  {
    //props  可接收数组 
    props: ['content','index'],   //我这个小组件接收从外部传进来的一个名字叫做content的属性，
    template:'<li @click="handleClick">{{content}}</li>',
    methods:{
        handleClick: function(){
            //子组件向父组件发布delete事件，并且传递index参数
            this.$emit('delete',this.index)
        }
    }

}
          new Vue({
			  el: "#root",
              components: {
                  'todo-item':TodoItem
              },              //局部组件需要在vue实例中注册 
              data: {
                  inputValue: '',
                  list: []
                  
              },
              //若Vue实例不定义template,则将挂载点下的所有内容作为template
              methods: {
                  handleSubmit: function(){
                  this.list.push(this.inputValue)
                  this.inputValue=''
              },
                  handleDelete: function(index){
                   this.list.splice(index,1)
                  }
              } 
          })
    </script>
</body>
</html>	
